*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: lightcoral;
    text-align: center;
    margin: 1.5em 0;
    height: 110%;
    border-bottom: thin solid black;
}

.selector-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 75%;
    margin-bottom: 20px;
}

h2{
    text-align: center;
}

.inpuch-check{
    display: flex;
    justify-content: space-between;
}